.avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 50px;
}

.wrapper {
  align-items: center;
  display: flex;
  padding: 9px 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.info {
  margin: 5px 0;
  flex: 1;
  margin-left: 12px;
}

.check {
  color: rgb(32, 213, 236);
  font-size: 1.2rem;
  margin-left: 5px;
}

.name {
  font-weight: 600;
  font-size: 1.4rem;
}

.username {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.4rem;
}
